@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Dm Sans";
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #000000;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 20px);
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 30px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 30px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

.sidebar {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1;
  border-radius: 30px;
}

